*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.signup{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 119, 255);
}

.signup-form{
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 5px;
}

h1{
    text-align: center;
    margin: 10px;
    color: black;
    font-weight: 100;
}

form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    font-size: 30px;
    margin: 10px;
    color: white;
}

input{
    border: 1px solid black;
    height: 30px;
    width: 90%;
    border-radius: 5px;
    margin: 10px;
}

button{
    width: 90%;
    height: 30px;
    margin: 10px;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

a{
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
    color: rgb(0, 119, 255);
    border-bottom: 1px solid rgb(0, 119, 255);
}

.welcome{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome p{
    color: rgb(0, 255, 0);
    font-size: 100px;
}